header{
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(03, 22, 55);
}

.first{
    font-size: 24px;
    flex-direction: row;
    list-style-type: none;
}
.produkter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.produkter img{
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: cover;
}